<div class="comment" style="background-color: lightgray; margin: 10px;">
  <p>{{this.content}}</p>
  <form action="/r/c/{{this._id}}/reply" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit">Save</button>
    </div>
  </form>
  {{#each this.replies}}
  {{>comment this}}
  {{/each}}
</div>