<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="/u/li" method="post">
            <legend>Log In</legend>
            <div class="form-group">
                <label for="post-username">username</label>
                <input type="text" name="username" class="form-control{{isWarning warning}}" id="post-username" placeholder="username" value="{{username}}">
            </div>
            <div class="form-group">
                <label for="post-password">password</label>
                <input type="password" name="password" class="form-control{{isWarning warning}}" id="post-password" placeholder="*******">
            </div>
            <div class='text-right'>
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
            {{#if warning}}
                <p style="color: red">Incorrect username/password.</p>
            {{/if}}
        </form>
    </div>
</div>